<div class="table-responsive">
    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Level</th>
                <th></th>
            </tr>
        </thead>
    </table>
                                       