<style>
    #inputs{
        margin-left: 17%;
        border-top: none; 
        border-left: none;  
        border-right: none; 
        border-color: rgba(228, 194, 194, 0.856); 
        width:60%;
    }
    #inputs_2{
        margin-left: 17%;
        border-top: none; 
        border-left: none;  
        border-right: none; 
        border-color: rgba(228, 194, 194, 0.856); 
        width:25%;
    }
    #inputs_1{
         margin-left: -85%;
        border-top: none; 
        border-left: none;  
        border-right: none; 
        border-color: rgba(228, 194, 194, 0.856); 
       
    }
    .labels_1{
         margin-left: -85%;
    }
    #left{
         float: right;
    }
    .labels{
        margin-left: 17%;
    }
    
</style>

<h3 style="margin-left: 10%; letter-spacing:3px"><img src="images/register.png">{{viewTitle}}</h3>
<br>

<form action="/studentRegister" method="POST" autocomplete="off">
   <div class="form-group">
        <label class="labels" for="Name">Name:</label>
        <input type="text" class="form-control  form-control-sm" placeholder="Student Name" name="name" id="inputs" required>
   </div>
     <div class="form-group">
        <label class="labels" for="ID_num">Student ID:</label>
        <input type="text" class="form-control form-control-sm" placeholder="ID_number" name="studID" id="inputs" required>
   </div>
   <div class="form-group" id="left">
        <label class="labels_1" for="Gender">Gender:</label>
        <select name="gender" class="form-control form-control-sm" id="inputs_1">
          <option value="">--select Gender--</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
   </div>
   <div class="form-group" >
        <label class="labels" for="Level">Level:</label>
        <select name="level" class="form-control form-control-sm" id="inputs_2">
          <option value="">--select Level--</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="400">400</option>
        </select>
   </div>
   <div class="from-group">
        <label class="labels" for="password">Student Pin:</label>
        <input type="password" class="form-control form-control-sm " placeholder="Passcode" name="password" id="inputs" required>
   </div><br>
   <div class="form-group">
       <button type="submit" style="margin-left: 30%; width:40%;   border-radius: 15px 50px 30px;" class="btn btn-primary" style="margin-left: 30%">Submit</button>
       <p><a href="/studentLogin" style="margin-left: 27%; text-decoration: none;color: #8a9199dc;">already registered? Click to login</a></p>
   </div>
</form>